.widget {
  flex: 0.2;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  padding: 12px;
  max-height: 85vh;
  overflow-y: auto;
}

.widget__header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
}

.widget__header h5 {
  font-size: 15px;
  color: #444;
  padding: 6px 0;
}
